body
{
 background-color:#f2f2f2;font-family:Arial,sans-serif;text-align:center
}
 h1{
    color:blue;
 }
 p{
    font-size:18px;
color:skyblue
}
img{
    border-radius:10px;
    margin-top:10px;
    box-shadow:2px 2px 10px gray;
}
a{
    color:red;
    text-decoration:none;
    font-weight:bold;

}
button{
    background-color:blue;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}
